.dockerignore
.env
.env.*
.git
.gitattributes
.gitignore
bootstrap/cache/**
data
docker-compose.yml
Dockerfile
install.sh
node_modules
phpunit.xml
public/build/*
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/logs/*
tests
vendor
