server {
    listen 80;
    listen [::]:80;

    server_name ${NGINX_HOST};
    server_tokens off;

    add_header Content-Security-Policy "frame-src 'self' https://js.stripe.com; frame-ancestors 'none'; form-action 'self' https://www.paypal.com; upgrade-insecure-requests; script-src 'self' 'sha256-8MEQ/Qvo0Y09Vo5TDuyuOW39tu8QgAkymm2kKnkZ4iU=' 'sha256-hCdV2+S+9aRKKJlfK5CGe8NOfdvwBm9EvUlaeGXu0rE=' 'sha256-gzorWt76ec20Vfh2hf2HnxowkJXaHEJ2HinEBjvK6X4=' https://js.stripe.com; connect-src 'self' https://api.stripe.com;";

    root /var/www/html/public;
    index index.php;

    location / {
        try_files $uri $uri/ /index.php?q=$uri&$args;
    }

    location ~ ^/.+\.php(/|$) {
        fastcgi_pass unix:/run/php/php7.3-fpm.sock;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
}
